nextflow {
    cleanup {
        enabled = false
        remove = true
    }
}
executor {
    cpus = 4
    memory = '16 GB'
}

profiles {
    singularity {
        params.profile = 'singularity'
        singularity.enabled = true
        process.container = 'docker://dylanpilz/freyja-sra:latest'
    }

    docker {
        params.profile = 'docker'
        docker.enabled = true
        process.container = 'dylanpilz/freyja-sra:latest'
    
        docker.temp = 'auto'
        docker.runOptions = '-u $(id -u):$(id -g)'
    }
}

params {
    // SARS-CoV-2 reference data
    ref = "$baseDir/data/NC_045512_Hu-1.fasta"
    annot = "$baseDir/data/NC_045512_Hu-1.gff"
    bedfiles = "$baseDir/data/bedfiles"

    // Directory to save variants/demix/covariants files
    output = "$baseDir/output"

    // Freyja covariants parameters (S-gene by default)
    min_site = 21563
    max_site = 25384

    // ElasticSearch parameters
    es_host = 'https://localhost:9200'
    es_user = 'elastic'
    es_pass = 'changeme'
}
