nextflow {
    cleanup {
        enabled = false
        remove = true
    }
}
executor {
    cpus = 64
    memory = '64 GB'
    disk = '1 TB'
}

profiles {
    singularity {
        params.profile = 'singularity'
        singularity.enabled = true
        process.container = 'docker://dylanpilz/freyja-sra:latest'

        singularity.cacheDir = "$PWD"
        singularity.autoMounts = false
        singularity.runOptions = "--bind $PWD"
    }

    docker {
        params.profile = 'docker'
        docker.enabled = true
        process.container = 'dylanpilz/freyja-sra:latest'
    
        docker.temp = 'auto'
        docker.runOptions = '-u $(id -u):$(id -g)'
    }
}

params {
    num_samples = 200
    input = "$baseDir/data/wastewater_ncbi.csv"

    // SARS-CoV-2 reference data
    ref = "$baseDir/data/NC_045512_Hu-1.fasta"
    annot = "$baseDir/data/NC_045512_Hu-1.gff"
    bedfiles = "$baseDir/data/bedfiles" // PCR primer schemes

    // Directory to save variants/demix/covariants subdirectories
    output = "$baseDir/outputs"

    // Freyja demix
    eps = 0.0001
    depthCutoff = 0

    // Freyja covariants parameters (S-gene by default)
    min_site = 21563
    max_site = 25384
}
