nextflow {
    cleanup {
        enabled = false
        remove = true
    }
}
executor {
    cpus = 16
    memory = '64 GB'
    disk = '1 TB'
    queueSize = 16
    submitRateLimit = 2
}

report {
    overwrite = true
}

profiles {
    gcb {
        process.executor = 'google-batch'
        process.container = 'dylanpilz/freyja-sra:latest'
        workDir = 'gs://outbreak-ww-data/nf-work'
        google.region  = 'us-central1'
        google.project = 'andersen-lab-primary'
        google.batch.serviceAccountEmail = 'freyja-sra-sa@andersen-lab-primary.iam.gserviceaccount.com'
    }
    singularity {
        params.profile = 'singularity'
        singularity.enabled = true
        process.container = 'docker://dylanpilz/freyja-sra:latest'

        singularity.cacheDir = "$PWD"
        singularity.autoMounts = false
        singularity.runOptions = "--bind $PWD"
    }

    docker {
        params.profile = 'docker'
        docker.enabled = true
        process.container = 'dylanpilz/freyja-sra:latest'
    
        docker.temp = 'auto'
        docker.runOptions = '-u $(id -u):$(id -g)'
    }
}

process {
    withName:AWS_PREFETCH {
        docker.enabled = false
    }

    withLabel:MINIMAP2 {
        cpus = 8
        memory = '32 GB'
    }

    withLabel:MINIMAP2_UNKNOWN_PRIMER {
        cpus = 8
        memory = '32 GB'
    }
}

params {
    num_samples = 50

    metadata = "$baseDir/data/all_metadata.csv"
    // SARS-CoV-2 reference data
    ref = "$baseDir/data/NC_045512_Hu-1.fasta"
    annot = "$baseDir/data/NC_045512_Hu-1.gff"

    // Amplicon schema
    bedfiles = "$baseDir/data/bedfiles" 

    // Directory to save variants/demix/covariants subdirectories
    output = "$baseDir/outputs"

    // Freyja demix
    eps = 0.0001
    depthCutoff = 0

    // Freyja covariants parameters (S-gene by default)
    min_site = 21563
    max_site = 25384
}
