name: Process samples

on:
  schedule:
      - cron:  '0 */4 * * *'

jobs:
  fetch_ncbi_metadata:
    runs-on: self-hosted

    steps:
      - name: Checkout main
        uses: actions/checkout@v4

      - name: Setup nextflow
        uses: nf-core/setup-nextflow@v1

      - name: Install python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Install dependencies
        run: |
              pip install pandas biopython shortuuid

      - name: Run pipeline on new samples
        run: bash scripts/run_pipeline.sh
      
      - name: Commit and push changes
        run: |
              git config --local user.name "$GITHUB_ACTOR"
              git config --local user.email "$GITHUB_ACTOR@users.noreply.github.com"
              git pull
              git add -A
              git commit -m "Data dump"
              git push


              
      


